extends layouts/second

block scripts
  script(src='/javascript/edit.js')

block content
  if data.isAdmin
    .instruction
      h2
        Привет!
      p
        Как мы поняли, ты организуешь какое-то мероприятие, и тебе нужно разбить людей в кучки по интересам?
      p 
        Нет проблем! Добавь нужное количество кучек, дай им названия, задай количество мест в каждой.
      p 
        Как будет готово - разошли эту ссылку всем участникам:
      if(data.guestLink)
        .secret-link
          a(href=data.guestLink) #{data.guestLink}
      p
        Как сделаешь - купи попкорн и наблюдай за переплетением судеб и драмой человеческих отношений!
  else
    .instruction
      h2
        Привет, #{data.user.name}!
      p
        Кто-то позвал тебя куда-то, куда мы не знаем. Ниже нарисован текущий расклад кто с кем и где.
      p
        Если тебя не устраивает чья-то кампания, или же наобот ты хочешь по-возможности быть с кем-то - нажми на кнопки справа от его имени. Нажимай +2 если тебе обязательно надо оказаться с человеком, +1 если тебе просто хотелось бы, 0 - если все равно, и -1 если тебе хотелось бы избежать компании этого персонажа.
        Вперед!
      p
        Обязательно сохрани этот линк, он нужен чтобы попасть на эту страницу еще раз:
      if(data.guestLink)
        .secret-link
          a(href=data.guestLink) #{data.guestLink}
  if data.isAdmin
    #groups_menu
      if data.isAdmin
        a#new_group_button.button Создать кучку
  div
    include _groups